---
import MainLayout from "@layouts/MainLayout.astro"
import ProjectCard from "@components/ProjectCard.astro";
import {getCollection} from "astro:content";

const projects = await getCollection("projects");

const columnPattern: Array<string> = ["col col-7", "col col-5 offset-top-lg", "col col-5", "col col-7 offset-top-md"];
---

<MainLayout pageTitle="Extended Works">

    <section>
        <p class="caption">Works.</p>
        <h1 class="title">
            A curated collection of work across disciplines
        </h1>
    </section>

    <section class="editorial-container section-bottom">
        <div class="editorial-rule"></div>

        <div class="grid">
            {
                projects.map((project, index) => (
                        <article class={columnPattern[index % columnPattern.length]}>
                            <ProjectCard
                                    id={project.id}
                                    title={project.data.title}
                                    image={project.data.image.src}
                                    aspect={project.data.aspect}
                                    category={project.data.category}
                                    year={project.data.year}
                                    duration={project.data.duration}
                                    overview={project.data.overview}
                                    summary={project.data.summary}
                            />
                        </article>
                ))
            }
        </div>
    </section>
</MainLayout>

<style>
    .caption {
        color: var(--color-text-slight);
        align-self: flex-start;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    .section-top {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .section-bottom {
        padding-bottom: 6rem;
    }

    .editorial-caption {
        margin-bottom: 1.5rem;
    }

    .editorial-rule {
        margin-bottom: 4rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .col {
        width: 100%;
    }

    /* Desktop */
    @media (min-width: 768px) {
        .section-top {
            padding-top: 5rem;
        }

        .section-bottom {
            padding-bottom: 9rem;
        }

        .grid {
            grid-template-columns: repeat(12, 1fr);
            column-gap: 3rem;
            row-gap: 5rem;
        }

        .col-7 {
            grid-column: span 7;
        }

        .col-5 {
            grid-column: span 5;
        }

        .offset-top-lg {
            margin-top: 8rem;
        }

        .offset-top-md {
            margin-top: 4rem;
        }
    }
</style>
