---
import EmailButton from "@components/EmailButton.astro";
import {Picture} from "astro:assets";
import logo from "@assets/favicon.webp";

const site = import.meta.env.SITE + import.meta.env.BASE_URL;
const worksUrl = `${site}/works`;
const aboutUrl = `${site}/about`;
---

<aside class='left-sidebar'>
    <nav class="pages">
        <div class="logo-container">
            <a href={"/"} class="logo-link">
                <Picture src={logo} alt="Home" title="Home" class="logo"/>
            </a>
        </div>
        <a class="pageTitle playfair" href={worksUrl}>WORKS</a>
        <a class="pageTitle playfair" href={aboutUrl}>MORE ABOUT ME</a>
    </nav>

    <div class="divider"/>
    <div class="social-media">
        <EmailButton/>
    </div>
</aside>

<style>
    .left-sidebar {
        position: sticky;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        height: 100vh;
    }

    .pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex: 1;
        padding-top: 3rem;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    a.pageTitle {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        writing-mode: sideways-lr;
        text-orientation: sideways;
        font-weight: 900;

        &:hover {
            color: var(--color-primary);
            transition: color 0.3s;
        }
    }

    .divider {
        width: 1px;
        flex: 4;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex: 1;
    }
</style>